@use '../base/vars' as var;
@use '../base/mixins' as mix;

.opinions {
    margin-top: var.$spacing;

    &__heading {
        text-align: center;
    }

    &__grid {
        @include mix.tablet {
            @include mix.do-grid(8, 2rem);
            grid-template-rows: repeat(2, 1fr);

        }
    }

}

.opinion {

    background-color: var.$secundary-color;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    height: auto;

    @include mix.tablet {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &__header {
        @include mix.do-grid(4, 0);
        align-items: center;
        height: 90px;
        width: auto;
        
    }

    &__image img {
        border-radius: 50%;
        
    }

    &__info {
        grid-column: 2/4;
        
    }

    &__autor {
        color: var.$white;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__text {
        color: var.$white;
        line-height: 1.5;

    }

    // Para crear la comillas del comentario
    &__text::before {
        content: "''";
        font-size: 6rem;
        font-weight: bold;
        color: #b5b5b58a;
        letter-spacing: 3px;
        line-height: 1;
        position: relative;
        top: 2.2rem;
        margin-left: -2rem;
    }
    
    &--1 {
        @include mix.tablet {
            grid-column: 1/5;
        }
    }

    &--2 {
        @include mix.tablet {
            grid-column: 5/7;
        }
    }

    &--3 {
        @include mix.tablet {
            grid-column: 7/-1;
            grid-row: 1/-1;
        }
    }

    &--4 {
        @include mix.tablet {
            grid-column: 1/4;
        }
    }

    &--5 {
        @include mix.tablet {
            grid-column: 4/7;
        }
    }
    
}


