@use '../base/vars' as var;
@use '../base/mixins' as mix;

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    // Para que la barra ocupe el 100% del ancho y así tb el botón
    width: 100%;

    @include mix.desktop {
        flex-direction: row;
        width: auto;
    }

    &__link {
        font-size: 2rem;
        font-weight: 700;
        color: var.$black;


        &--register {
            @include mix.btn (var.$main-color, var.$white);
        }
    }



}