@use 'vars' as var;
@use 'mixins' as mix;

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    
    // Llamada mixins
    @include mix.box-sizing(border-box);
}

*, *::after, *::before {
    @include mix.box-sizing(inherit);
}

body {
    font-family: var.$main-font;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
}

// Textos
p {
    color: var.$black;
    font-size: 2rem;
}

h1 {
    font-size: 4.4rem;

    color: transparent;
    background: linear-gradient(to right, var.$main-color 0%, var.$secondary-color 100%);
    -webkit-background-clip: text; /* Necesario para Chrome, Edge y Safari*/
    background-clip: text; 
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

h1, h2, h3 {
    line-height: 1.2;
    font-weight: 900;
    font-family: var.$secondary-bold-font;
}

a {
    text-decoration: none;
}

// Imágenes responsive
img {
    max-width: 100%;
    display: block;
}

// Contenedor
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}