@use '../base/vars' as var;
@use '../base/mixins' as mix;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var.$spacing 0;

    // creamos la media-query
    @include mix.desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    // Clase header__logo
    &__logo {
        width: 30rem;
        margin-bottom: var.$spacing;;

        // creamos la media-query
        @include mix.desktop {
            margin-bottom: 0;
        }
    }

}

