@use 'sass:math';

$tamaño: 100%;
$número-de-partes: 10;
$color1: limegreen;
$color2: tomato;

// Deben devolver valor obligatoriamente
@function partir($tamaño, $número-de-partes) {
    @return math.div($tamaño , $número-de-partes);
}

div{
    background-color: $color1;
}

.décimo {
    background-color: $color2;
    width: partir($tamaño, $número-de-partes);
}