@use 'sass:math';

$size: 100%;
$num-parts: 10;
$color1: limegreen;
$color2: tomato;

// Deben devolver valor obligatoriamente
@function partir($size, $num-parts) {
    @return math.div($size , $num-parts) 
};


div{
    background-color: $color1;
}

.decimo {
    background-color: $color2;
    width: partir($size, $num-parts);
}