@use 'sass:string';
$color-base: '#';

// Podemos usar bucles y crear clases, por ejemplo con colores diferentes
@for $i from 1 through 10 {

    // O usar condicionales
    @if ($i - 1) == 0 {
        $color-base: #{$color-base}#{0};
    } @else {
        $color-base: '#';
    }

    .color#{$i} {
        // Para concatenar usamos #{}#{}, es una interpolación
        // Este ejemplo necesita uso de una condicional, está de ejemplo
        // background-color: #{$color-base}#{($i - 1) * 10}0000;

        // Otras formas de hacerlo
        // background-color: unquote('#' + #{($i - 1)} + '00000' ); // deprecated

        // Con la clase string, necesita import
        // background-color: string.unquote('#' + #{($i - 1)} + '00000' ); // clase string
        background-color: string.unquote('##{$i}00000');

        color: white;
    }
}
