// Variables reutilizables

// Fuentes
$main-font: 'Roboto', sans serif;

// Colores
$main-color: #e8505b;
$secundary-color: #455a64;
$black: #000000;
$grey: #eceeef;
$white: #ffffff;

// Separación entre secciones
$spacing: 5rem;

// Tamaños media-queries  
$small: 480px;
$medium: 768px;
$big: 1024px;